In [1]:
import numpy as np
import pandas as pd

In [22]:
cd FOT

[WinError 2] The system cannot find the file specified: 'FOT'
D:\FOT\sem 5\aiml\stock price prediction\dataset

C:\Users\adity\AppData\Local\Programs\Python\Python312\Lib\site-packages\IPython\core\magics\osm.py:393: UserWarning: using bookmarks requires you to install the `pickleshare` library.
  bkms = self.shell.db.get('bookmarks', {})

In [5]:
ls

 Volume in drive D is New Volume
 Volume Serial Number is 485D-FF59

 Directory of D:\FOT\sem 5\aiml\stock price prediction\dataset

29-10-2025  16:10    <DIR>          .
29-10-2025  16:12    <DIR>          ..
29-10-2025  16:07            40,571 reliance_1.csv
29-10-2025  16:08            40,487 reliance_2.csv
29-10-2025  16:08            40,146 reliance_3.csv
29-10-2025  16:09            40,323 reliance_4.csv
29-10-2025  16:10            40,238 reliance_5.csv
               5 File(s)        201,765 bytes
               2 Dir(s)  146,008,944,640 bytes free

In [9]:
df1 = pd.read_csv("reliance_1.csv")
df2 = pd.read_csv("reliance_2.csv")
df3 = pd.read_csv("reliance_3.csv")
df4 = pd.read_csv("reliance_4.csv")
df5 = pd.read_csv("reliance_5.csv")

In [18]:
df = pd.concat([df1,df2,df3,df4,df5])

In [20]:
df

,Date,series,OPEN,HIGH,LOW,PREV. CLOSE,ltp,close,vwap,52W H,52W L,VOLUME,VALUE,No of trades
0,28-Oct-2025,EQ,"1,484.10","1,492.00","1,477.60","1,484.10","1,489.70","1,486.90","1,484.96","1,551.00","1,114.85","1,76,31,577","26,18,22,48,923.90","3,14,894"
1,27-Oct-2025,EQ,"1,463.00","1,485.00","1,458.00","1,451.60","1,483.20","1,484.10","1,480.24","1,551.00","1,114.85","1,41,13,867","20,89,18,82,342.50","2,74,839"
2,24-Oct-2025,EQ,"1,450.00","1,459.80","1,441.00","1,448.40","1,451.10","1,451.60","1,450.25","2,752.00","1,114.85","97,00,837","14,06,86,22,023.20","2,21,258"
3,23-Oct-2025,EQ,"1,475.00","1,482.90","1,444.60","1,465.20","1,448.00","1,448.40","1,464.71","2,752.00","1,114.85","1,87,07,090","27,40,03,74,842.50","3,76,220"
4,21-Oct-2025,EQ,"1,468.00","1,474.00","1,460.00","1,466.80","1,461.00","1,465.20","1,467.87","2,752.00","1,114.85","20,66,169","3,03,28,61,642.80","86,819"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
243,04-Nov-2020,EQ,"1,837.00","1,929.00","1,837.00","1,850.40","1,910.50","1,913.20","1,893.24","2,369.35",875.65,"3,70,03,111","70,05,56,55,614.20","8,88,904"
244,03-Nov-2020,EQ,"1,890.00","1,909.00","1,835.10","1,877.45","1,854.50","1,850.40","1,873.92","2,369.35",875.65,"4,09,31,170","76,70,17,61,539.15","9,90,935"
245,02-Nov-2020,EQ,"2,027.00","2,027.00","1,859.15","2,054.50","1,876.00","1,877.45","1,927.55","2,369.35",875.65,"4,58,57,806","88,39,33,20,147.20","14,28,490"
246,30-Oct-2020,EQ,"2,033.50","2,065.10","2,021.80","2,026.90","2,064.35","2,054.50","2,040.66","2,369.35",875.65,"1,57,01,123","32,04,06,07,252.30","3,49,177"
247,29-Oct-2020,EQ,"1,997.00","2,042.00","1,991.00","2,011.45","2,029.05","2,026.90","2,019.57","2,369.35",875.65,"1,41,47,681","28,57,21,85,905.90","3,82,087"

In [21]:
df.to_csv("reliance.csv")

In [23]:
df1 = pd.read_csv("tcs_1.csv")
df2 = pd.read_csv("tcs_2.csv")
df3 = pd.read_csv("tcs_3.csv")
df4 = pd.read_csv("tcs_4.csv")
df5 = pd.read_csv("tcs_5.csv")

In [24]:
df = pd.concat([df1,df2,df3,df4,df5])

In [25]:
df

,Date,series,OPEN,HIGH,LOW,PREV. CLOSE,ltp,close,vwap,52W H,52W L,VOLUME,VALUE,No of trades
0,28-Oct-2025,EQ,"3,076.00","3,090.20","3,040.20","3,084.90","3,059.80","3,057.90","3,059.27","4,494.90","2,866.60","34,70,737","10,61,79,38,168.30","1,40,326"
1,27-Oct-2025,EQ,"3,066.50","3,094.20","3,060.20","3,063.20","3,083.00","3,084.90","3,083.94","4,494.90","2,866.60","19,46,312","6,00,23,14,206.60","85,517"
2,24-Oct-2025,EQ,"3,080.00","3,090.00","3,058.30","3,073.20","3,060.60","3,063.20","3,073.62","4,494.90","2,866.60","26,84,318","8,25,05,73,087.80","1,87,127"
3,23-Oct-2025,EQ,"3,055.00","3,098.00","3,036.10","3,006.70","3,070.00","3,073.20","3,075.63","4,494.90","2,866.60","55,64,758","17,11,51,35,296.00","2,90,229"
4,21-Oct-2025,EQ,"3,031.10","3,031.80","2,996.00","3,015.20","3,000.00","3,006.70","3,013.14","4,494.90","2,866.60","3,10,644","93,60,15,414.70","29,319"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
244,04-Nov-2020,EQ,"2,610.00","2,721.85","2,610.00","2,633.60","2,656.00","2,653.15","2,683.56","2,885.00","1,506.05","48,93,928","13,13,31,44,835.10","2,10,543"
245,03-Nov-2020,EQ,"2,604.00","2,665.00","2,601.05","2,604.60","2,629.00","2,633.60","2,635.01","2,885.00","1,506.05","28,79,269","7,58,69,13,378.45","1,17,355"
246,02-Nov-2020,EQ,"2,660.00","2,664.85","2,600.05","2,664.85","2,608.00","2,604.60","2,618.15","2,885.00","1,506.05","25,71,196","6,73,17,84,552.10","1,17,447"
247,30-Oct-2020,EQ,"2,636.10","2,674.35","2,621.60","2,632.65","2,663.55","2,664.85","2,654.92","2,885.00","1,506.05","34,27,003","9,09,84,15,228.85","1,20,277"
248,29-Oct-2020,EQ,"2,608.00","2,655.00","2,600.25","2,622.20","2,632.10","2,632.65","2,634.88","2,885.00","1,506.05","31,05,970","8,18,38,60,034.10","1,21,416"

In [26]:
df.to_csv("tcs.csv")

In [27]:
df1 = pd.read_csv("itc_1.csv")
df2 = pd.read_csv("itc_2.csv")
df3 = pd.read_csv("itc_3.csv")
df4 = pd.read_csv("itc_4.csv")
df5 = pd.read_csv("itc_5.csv")

In [28]:
df = pd.concat([df1,df2,df3,df4,df5])

In [29]:
df

,Date,series,OPEN,HIGH,LOW,PREV. CLOSE,ltp,close,vwap,52W H,52W L,VOLUME,VALUE,No of trades
0,28-Oct-2025,EQ,420.50,421.65,415.90,420.65,417.85,417.90,417.96,471.5,390.15,"1,71,63,147","7,17,34,91,707.05","1,47,046"
1,27-Oct-2025,EQ,417.00,422.70,416.60,416.80,421.00,420.65,420.58,471.5,390.15,"1,16,03,679","4,88,02,29,507.85","1,15,318"
2,24-Oct-2025,EQ,415.95,417.95,413.45,415.95,417.80,416.80,415.51,471.5,390.15,"1,49,35,678","6,20,59,57,776.10","1,14,037"
3,23-Oct-2025,EQ,416.00,420.45,413.55,412.85,416.25,415.95,417.33,471.5,390.15,"2,43,05,990","10,14,35,43,220.15","1,89,470"
4,21-Oct-2025,EQ,413.50,413.95,412.35,413.05,412.50,412.85,412.93,471.5,390.15,"11,42,130","47,16,23,300.60","38,260"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
244,04-Nov-2020,EQ,170.05,171.80,168.20,170.10,169.75,169.80,170.11,266.3,134.60,"1,88,08,819","3,19,95,65,312.00","89,249"
245,03-Nov-2020,EQ,167.20,170.75,167.10,166.75,170.00,170.10,169.51,266.3,134.60,"2,26,02,903","3,83,14,57,466.15","1,19,246"
246,02-Nov-2020,EQ,166.80,167.20,164.45,165.25,166.75,166.75,165.96,266.3,134.60,"1,43,70,649","2,38,49,97,341.15","1,09,318"
247,30-Oct-2020,EQ,164.00,166.80,163.35,163.85,165.40,165.25,164.94,266.3,134.60,"1,63,47,510","2,69,62,96,324.45","95,275"
248,29-Oct-2020,EQ,165.00,165.95,163.45,165.50,163.85,163.85,164.62,266.3,134.60,"2,10,08,755","3,45,84,95,110.45","1,20,602"

In [30]:
df.to_csv("itc.csv")

In [31]:
df1 = pd.read_csv("hdfc_1.csv")
df2 = pd.read_csv("hdfc_2.csv")
df3 = pd.read_csv("hdfc_3.csv")
df4 = pd.read_csv("hdfc_4.csv")
df5 = pd.read_csv("hdfc_5.csv")

In [32]:
df = pd.concat([df1,df2,df3,df4,df5])

In [33]:
df

,Date,series,OPEN,HIGH,LOW,PREV. CLOSE,ltp,close,vwap,52W H,52W L,VOLUME,VALUE,No of trades
0,28-Oct-2025,EQ,997.65,"1,008.00",995.00,"1,002.95","1,004.90","1,003.55","1,001.18","2,037.70",939.10,"3,39,04,289","33,94,41,77,651.40","4,23,621"
1,27-Oct-2025,EQ,996.50,"1,009.05",996.20,994.75,"1,003.50","1,002.95","1,003.92","2,037.70",939.10,"1,57,00,796","15,76,22,65,430.25","2,97,938"
2,24-Oct-2025,EQ,"1,011.00","1,011.95",991.30,"1,008.80",995.90,994.75,999.40,"2,037.70",939.10,"1,77,07,768","17,69,70,89,817.30","3,62,016"
3,23-Oct-2025,EQ,"1,016.00","1,020.50","1,006.00","1,007.70","1,006.60","1,008.80","1,013.19","2,037.70",939.10,"4,35,26,526","44,10,04,30,667.15","5,18,216"
4,21-Oct-2025,EQ,"1,006.00","1,010.00","1,004.00","1,002.95","1,004.00","1,007.70","1,008.15","2,037.70",939.10,"34,71,600","3,49,99,06,215.35","88,749"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
244,04-Nov-2020,EQ,"1,252.00","1,264.80","1,230.00","1,247.95","1,254.00","1,257.40","1,251.63","1,305.50",738.75,"1,17,02,411","14,64,70,36,990.25","2,45,494"
245,03-Nov-2020,EQ,"1,226.45","1,250.75","1,225.50","1,215.25","1,248.00","1,247.95","1,243.15","1,305.50",738.75,"1,40,82,115","17,50,61,78,550.75","2,78,299"
246,02-Nov-2020,EQ,"1,194.35","1,225.00","1,177.50","1,183.55","1,216.25","1,215.25","1,198.51","1,305.50",738.75,"1,09,63,040","13,13,93,47,186.25","2,25,643"
247,30-Oct-2020,EQ,"1,182.55","1,199.30","1,176.35","1,187.20","1,182.40","1,183.55","1,186.31","1,305.50",738.75,"57,61,470","6,83,48,78,663.65","1,37,766"
248,29-Oct-2020,EQ,"1,200.60","1,204.45","1,178.50","1,209.60","1,190.50","1,187.20","1,189.63","1,305.50",738.75,"1,15,30,152","13,71,66,59,781.80","2,07,330"

In [34]:
df.to_csv("hdfc.csv")

In [35]:
df1 = pd.read_csv("mnm1.csv")
df2 = pd.read_csv("mnm2.csv")
df3 = pd.read_csv("mnm3.csv")
df4 = pd.read_csv("mnm4.csv")
df5 = pd.read_csv("mnm5.csv")

In [36]:
df = pd.concat([df1,df2,df3,df4,df5])

In [37]:
df

,Date,series,OPEN,HIGH,LOW,PREV. CLOSE,ltp,close,vwap,52W H,52W L,VOLUME,VALUE,No of trades
0,28-Oct-2025,EQ,"3,605.00","3,624.90","3,562.00","3,611.60","3,581.00","3,579.10","3,591.79","3,723.80","2,425.00","28,51,093","10,24,05,38,836.50","1,34,052"
1,27-Oct-2025,EQ,"3,626.80","3,635.30","3,593.00","3,625.00","3,616.00","3,611.60","3,612.50","3,723.80","2,425.00","14,40,893","5,20,52,19,258.20","1,15,594"
2,24-Oct-2025,EQ,"3,630.00","3,655.30","3,615.10","3,623.60","3,618.20","3,625.00","3,633.70","3,723.80","2,425.00","16,54,500","6,01,19,48,836.10","86,815"
3,23-Oct-2025,EQ,"3,632.10","3,650.00","3,600.00","3,621.20","3,627.50","3,623.60","3,627.70","3,723.80","2,425.00","37,24,956","13,51,30,26,368.10","1,75,986"
4,21-Oct-2025,EQ,"3,608.20","3,628.10","3,604.30","3,599.10","3,606.00","3,621.20","3,621.39","3,723.80","2,425.00","2,86,950","1,03,91,57,741.10","28,419"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
244,04-Nov-2020,EQ,597.8,603.65,592.0,595.8,597.2,596.8,597.3,666.6,245.4,"24,75,177","1,47,84,28,169.40","42,940"
245,03-Nov-2020,EQ,599.3,605.45,594.0,596.05,597.0,595.8,599.57,666.6,245.4,"36,69,816","2,20,03,15,766.05","49,826"
246,02-Nov-2020,EQ,592.0,599.9,589.0,594.0,594.0,596.05,594.86,666.6,245.4,"40,85,120","2,43,00,73,402.75","65,012"
247,30-Oct-2020,EQ,592.55,601.75,586.8,591.95,594.75,594.0,594.0,666.6,245.4,"42,09,087","2,50,01,85,682.85","59,936"
248,29-Oct-2020,EQ,598.2,604.15,590.25,604.15,592.5,591.95,596.52,666.6,245.4,"36,80,984","2,19,57,88,175.80","61,542"

In [38]:
df.to_csv("mnm.csv")